h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    display: block;
    margin: 5px;
}
html {
    font-family: "Merriweather", serif;
    background-color: #00539f;
  }
img {
    display: block;
    margin: 0 auto;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 10px 20px;
    border: 5px solid black;
}
p, li {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
}

a {
    color: #4c35bd;
}
#change-name {
	display: inline-block;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	color: #2f16ee;
	border-radius: 5px;
	height: 40px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	
}

